<launch>

  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->    


  <!-- <param name="robot_description" command="$(find xacro)/xacro $(find warehousetest)/robots/freight.gazebo.xacro" /> -->

  <!-- BEGIN FREIGHT_ROBOT 1 -->
<!--   <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find warehousetest)/launch/include/freight_onerobot.launch" >
      <arg name="x" value ="0" />
      <arg name="y" value ="1" />
      <arg name="yaw" value ="0.08" />
      <arg name="robot_name" value="robot1" />
      <arg name="type" value="freight"/>
    </include>
  </group> -->
  <!-- BEGIN FREIGHT_ROBOT 2 -->
<!--   <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find warehousetest)/launch/include/freight_onerobot.launch" >
      <arg name="x" value ="-10" />
      <arg name="y" value ="-10" />
      <arg name="yaw" value ="0.08" />
      <arg name="robot_name" value="robot2" />
      <arg name="type" value="freight"/>
    </include>
  </group> -->
  <!-- BEGIN FETCH_ROBOT 1 -->
  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find warehousetest)/launch/include/fetch_onerobot.launch" >
      <arg name="x" value ="-9" />
      <arg name="y" value ="1" />
      <arg name="robot_name" value="robot3" />
      <arg name="type" value="fetch"/>
    </include>
  </group>
  <!-- BEGIN FETCH_ROBOT 2 -->
  <group ns="robot4">
    <param name="tf_prefix" value="robot4_tf" />
    <include file="$(find warehousetest)/launch/include/fetch_onerobot.launch" >
      <arg name="x" value ="-9" />
      <arg name="y" value ="-3" />
      <arg name="robot_name" value="robot4" />
      <arg name="type" value="fetch"/>
    </include>
  </group>

</launch>