<launch>

	<node name="demo_t1" pkg="warehousetest" type="navigation_freight.py" output="screen" >
		<param name="robot_name" value="freight1"/>
	</node>
	<node name="demo_t2" pkg="warehousetest" type="navigation_freight.py" output="screen" >
		<param name="robot_name" value="freight2"/>
	</node> 
	<node name="demo_t3" pkg="warehousetest" type="navigation_freight.py" output="screen" >
		<param name="robot_name" value="freight3"/>
	</node> 
	<node name="demo_p1" pkg="warehousetest" type="navigation_fetch.py" output="screen"> 
		<param name="robot_name" value="fetch1"/>
	</node>
	<node name="demo_p2" pkg="warehousetest" type="navigation_fetch.py" output="screen"> 
		<param name="robot_name" value="fetch2"/>
	</node>
	<node name="demo_p3" pkg="warehousetest" type="navigation_fetch.py" output="screen"> 
		<param name="robot_name" value="fetch3"/>
	</node>
	<node name="demo_p4" pkg="warehousetest" type="navigation_fetch.py" output="screen"> 
		<param name="robot_name" value="fetch4"/>
	</node>
</launch>