<launch>
	<param name="/use_sim_time" value="true"/>


  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find warehousetest)/maps/warehouse.yaml">
    <param name="frame_id" value="map" />
  </node>




  <!-- Launch navigation stack for freight1 -->
  <group ns="freight1">
    <param name="amcl/initial_pose_x" value="0" />
    <param name="amcl/initial_pose_y" value="-1" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
    	<arg name="robot_name" value="freight1" />
      <arg name="robot_type" value="freight"/>
    </include>
  </group>

  <!-- Launch navigation stack for freight2 -->
  <group ns="freight2">
    <param name="amcl/initial_pose_x" value="4" />
    <param name="amcl/initial_pose_y" value="-1" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
    	<arg name="robot_name" value="freight2" />
      <arg name="robot_type" value="freight"/>
    </include>    	
  </group>

  <!-- Launch navigation stack for fetch1 -->
  <group ns="fetch1">
    <param name="amcl/initial_pose_x" value="0" />
    <param name="amcl/initial_pose_y" value="-3" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
      <arg name="robot_name" value="fetch1" />
      <arg name="robot_type" value="fetch"/>
    </include>      
  </group>
  
  <!-- Launch navigation stack for fetch2 -->
  <group ns="fetch2">
    <param name="amcl/initial_pose_x" value="4" />
    <param name="amcl/initial_pose_y" value="-3" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
      <arg name="robot_name" value="fetch2" />
      <arg name="robot_type" value="fetch"/>
    </include>      
  </group>






</launch>