<launch>
	<param name="/use_sim_time" value="true"/>


  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find warehousetest)/maps/warehouse.yaml">
    <param name="frame_id" value="map" />
  </node>




  <!-- Launch navigation stack for freight1 -->
  <group ns="freight1">
    <param name="amcl/initial_pose_x" value="2" />
    <param name="amcl/initial_pose_y" value="1" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
    	<arg name="robot_name" value="freight1" />
      <arg name="robot_type" value="freight"/>
    </include>
  </group>

  <!-- Launch navigation stack for freight2 -->
  <group ns="freight2">
    <param name="amcl/initial_pose_x" value="2" />
    <param name="amcl/initial_pose_y" value="4" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
    	<arg name="robot_name" value="freight2" />
      <arg name="robot_type" value="freight"/>
    </include>    	
  </group>

  <!-- Launch navigation stack for freight3 -->
<!--   <group ns="freight3">
    <param name="amcl/initial_pose_x" value="2" />
    <param name="amcl/initial_pose_y" value="6" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
      <arg name="robot_name" value="freight3" />
      <arg name="robot_type" value="freight"/>
    </include>      
  </group> -->

  <!-- Launch navigation stack for fetch1 -->
  <group ns="fetch1">
    <param name="amcl/initial_pose_x" value="2" />
    <param name="amcl/initial_pose_y" value="8" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
      <arg name="robot_name" value="fetch1" />
      <arg name="robot_type" value="fetch"/>
    </include>      
  </group>
  
  <!-- Launch navigation stack for fetch2 -->
  <group ns="fetch2">
    <param name="amcl/initial_pose_x" value="2" />
    <param name="amcl/initial_pose_y" value="10" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
      <arg name="robot_name" value="fetch2" />
      <arg name="robot_type" value="fetch"/>
    </include>      
  </group>

  <!-- Launch navigation stack for fetch3 -->
  <group ns="fetch3">
    <param name="amcl/initial_pose_x" value="2" />
    <param name="amcl/initial_pose_y" value="12" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
      <arg name="robot_name" value="fetch3" />
      <arg name="robot_type" value="fetch"/>
    </include>      
  </group>

  <!-- Launch navigation stack for fetch4 -->
<!--   <group ns="fetch4">
    <param name="amcl/initial_pose_x" value="2" />
    <param name="amcl/initial_pose_y" value="14" />
    <include file="$(find warehousetest)/config/navigation/fetch_freight/move_base.launch.xml" >
      <arg name="robot_name" value="fetch4" />
      <arg name="robot_type" value="fetch"/>
    </include>      
  </group> -->




</launch>